.users-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-column-gap: 16px;
    margin-bottom: 32px;
}

.user-item {
    background: #eee;
    padding: 8px 16px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.user-item-selected {
    background: #818181;
    color: rgba(255, 255, 255, 0.9);
}